@import "imagenes/imagenes";
@import "footer/footer";

section.info-principal{margin: 0;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
section.info-2{margin: 0;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    }
    section.info-3{margin: 0;
        padding: 20px;
        font-family: 'Inter', sans-serif;
        font-family: 'Roboto', sans-serif;
        }
